<section class="block block--pink-to-yellow hero">
  <div class="block__image">
    <div class="container">
      <header class="block__header hero__header">
        <h2 class="hero__grating">welcome to the</h1>
        <h1 class="hero__heading">MAGIC CITY <br class="hero__line-brake" />APES</h1>
        <p class="hero__description">
          Magic City Apes (MCA) to mint NFTs and get access to members content and by merchandise & learn about  events
        </p>
        <button class="btn btn--dark">mint your nft</button>
      </header>
    </div>
  </div>
</section>