<section class="block block--purple-to-yellow road-map">
      <div class="block__image">
        <div class="container">
          <header class="block__header">
            <h2 class="block__heading">ROADMAP</h2>
            <p class="block__description">
              We're in this for the long haul. We've set up some goalposts for
              ourselves. once we hit a trarget sell through precentage, we will
              gegin to work on realizing the stated goal.
            </p>
          </header>
          <section class="road-map__tree-container">
            <div class="road-map__root">
              <div class="road-map__card-container road-map__card">
                <div class="road-map__card-content">
                  <p class="road-map__percentage">10%</p>
                  <p class="road-map__description">
                    We relese the Caged Apes 5 Caged Apes(tokens held back from
                    teh sale) are airdropped to random apeholders
                  </p>
                </div>
                <div class="road-map__card-handle-right">
                  <div class="handle-arm"></div>
                  <div class="handle-ball"></div>
                </div>
              </div>

              <div class="road-map__card-container road-map__card">
                <div class="road-map__card-content">
                  <p class="road-map__percentage">20%</p>
                  <p class="road-map__description">
                    We relese the Caged Apes 5 Caged Apes(tokens held back from
                    teh sale) are airdropped to random apeholders
                  </p>
                </div>
                <div class="road-map__card-handle-left">
                  <div class="handle-arm"></div>
                  <div class="handle-ball"></div>
                </div>
              </div>
              <div class="road-map__card-container road-map__card">
                <div class="road-map__card-content">
                  <p class="road-map__percentage">40%</p>
                  <p class="road-map__description">
                    We relese the Caged Apes 5 Caged Apes(tokens held back from
                    teh sale) are airdropped to random apeholders
                  </p>
                </div>
                <div class="road-map__card-handle-right">
                  <div class="handle-arm"></div>
                  <div class="handle-ball"></div>
                </div>
              </div>
              <div class="road-map__card-container road-map__card">
                <div class="road-map__card-content">
                  <p class="road-map__percentage">60%</p>
                  <p class="road-map__description">
                    We relese the Caged Apes 5 Caged Apes(tokens held back from
                    teh sale) are airdropped to random apeholders
                  </p>
                </div>
                <div class="road-map__card-handle-left">
                  <div class="handle-arm"></div>
                  <div class="handle-ball"></div>
                </div>
              </div>
              <div class="road-map__card-container road-map__card">
                <div class="road-map__card-content">
                  <p class="road-map__percentage">80%</p>
                  <p class="road-map__description">
                    We relese the Caged Apes 5 Caged Apes(tokens held back from
                    teh sale) are airdropped to random apeholders
                  </p>
                </div>
                <div class="road-map__card-handle-right">
                  <div class="handle-arm"></div>
                  <div class="handle-ball"></div>
                </div>
              </div>
              <div class="road-map__card-container road-map__card">
                <div class="road-map__card-content">
                  <p class="road-map__percentage">90%</p>
                  <p class="road-map__description">
                    We relese the Caged Apes 5 Caged Apes(tokens held back from
                    teh sale) are airdropped to random apeholders
                  </p>
                </div>
                <div class="road-map__card-handle-left">
                  <div class="handle-arm"></div>
                  <div class="handle-ball"></div>
                </div>
              </div>
              <div class="road-map__card-container road-map__card">
                <div class="road-map__card-content">
                  <p class="road-map__percentage">100%</p>
                  <p class="road-map__description">
                    We relese the Caged Apes 5 Caged Apes(tokens held back from
                    teh sale) are airdropped to random apeholders
                  </p>
                </div>
                <div class="road-map__card-handle-right">
                  <div class="handle-arm"></div>
                  <div class="handle-ball"></div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>