<section class="block block--white-to-pink show-case">
      <div class="block__image">
        <div class="container">
          <header class="block__header">
            <h2 class="block__heading">10,000+ MGIC CITY APE NFTS</h2>
            <p class="block__description">
              unique digital collectibles living on the Ethereum blockchain.
              Your Bored Ape doubles as your Yacht Club menbership card, and
              grants access to members-only benefits, the first of which is
              access to THE BATHROOM, a collabrative graffiti board. Future
              areas and peaks can be unlocked by the community though roadmap
              activation
            </p>
          </header>
          <div class="slider-container">
            <div class="carousel">
              <div class="slider">
                <div class=" slide-1 grid grid--5x2">
                  <img  class="slide__image" src="/images/apes/1.png" alt="">
                  <img  class="slide__image" src="/images/apes/2.png" alt="">
                  <img  class="slide__image" src="/images/apes/3.png" alt="">
                  <img  class="slide__image" src="/images/apes/4.png" alt="">
                  <img  class="slide__image" src="/images/apes/5.png" alt="">
                  <img  class="slide__image" src="/images/apes/6.png" alt="">
                  <img  class="slide__image" src="/images/apes/7.png" alt="">
                  <img  class="slide__image" src="/images/apes/8.png" alt="">
                  <img  class="slide__image" src="/images/apes/9.png" alt="">
                  <img  class="slide__image" src="/images/apes/10.png" alt="">
                </div>
                <div class=" slide-2 grid grid--5x2">
                  <img  class="slide__image" src="/images/apes/13.png" alt="">
                  <img  class="slide__image" src="/images/apes/11.png" alt="">
                  <img  class="slide__image" src="/images/apes/12.png" alt="">
                  <img  class="slide__image" src="/images/apes/14.png" alt="">
                  <img  class="slide__image" src="/images/apes/15.png" alt="">
                  <img  class="slide__image" src="/images/apes/16.png" alt="">
                  <img  class="slide__image" src="/images/apes/17.png" alt="">
                  <img  class="slide__image" src="/images/apes/18.png" alt="">
                  <img  class="slide__image" src="/images/apes/19.png" alt="">
                  <img  class="slide__image" src="/images/apes/20.png" alt=""></div>
                <div class=" slide-3 grid grid--5x2">
                  <img  class="slide__image" src="/images/apes/21.png" alt="">
                  <img  class="slide__image" src="/images/apes/22.png" alt="">
                  <img  class="slide__image" src="/images/apes/23.png" alt="">
                  <img  class="slide__image" src="/images/apes/24.png" alt="">
                  <img  class="slide__image" src="/images/apes/25.png" alt="">
                  <img  class="slide__image" src="/images/apes/26.png" alt="">
                  <img  class="slide__image" src="/images/apes/27.png" alt="">
                  <img  class="slide__image" src="/images/apes/28.png" alt="">
                  <img  class="slide__image" src="/images/apes/29.png" alt="">
                  <img  class="slide__image" src="/images/apes/30.png" alt=""></div></div>
              </div>
            </div>
          
          <div class="slider__btn-container">
            <svg class="back icon">
             <use xlink:href="/images/sprite.svg#left-arrow">
             </use>
            </svg>
            <svg class="next icon">
             <use xlink:href="/images/sprite.svg#right-arrow">
             </use>
            </svg>
          </div>
          <section class="block--pink opensea-banner">
            <div class="opensea-banner__image">
              <div class="opensea-banner__container">
                <header class="opensea-banner__header">
                  <h2 class="opensea-banner__heading">buy mca at opensea</h2>
                  <p class="opensea-banner__description">
                    The initial sale has sold out. To get your Bored Ape, check
                    out the collection on OpenSea.
                  </p>
                  <img
                    class="opensea-banner__logo"
                    src="/images/opensea-logo.png"
                    alt=""
                  />
                </header>
              </div>
            </div>
          </section>

          <section class="grid grid--1x2 genarate-nft">
            <div class="genarate-nft__setting">
              <header class="genarate-nft__header">
                <h3 class="genarate-nft__heading">
                  CREATE YOUR OWN UNIQUE MCA NFT's
                </h3>
                <p class="genarate-nft__description">
                  Each MCA is unique and programmatically genarated from over
                  170 possible traits, including expression, headware, clothing,
                  and more. All apes are dope, but some are rarer than others.
                </p>
              </header>
              <div class="genarate-nft__btn-container grid grid--2x3">
                <button class="btn btn--outline">espression</button>
                <button class="btn btn--outline">headwear</button>
                <button class="btn btn--outline">clothing</button>
                <button class="btn btn--outline">background</button>
                <button class="btn btn--outline">mouth</button>
              </div>
            </div>
            <img
              class="genarate-nft__image"
              src="/images/apes/4.png"
              alt="board ape"
            />
          </section>

          <section class="privilage">
            <div class="privilage__header">
              <h3 class="privilage__heading">
                welcome to the mca club privilege's of owning a mca nft's
              </h3>
              <p class="privilage__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra
                maecenas accumsan lacus vel facilisis. t,
              </p>
            </div>
            <div class="privilage__goal-continer">
              <div class="privilage__goal">
                <svg class="icon">
                  <use xlink:href="/images/sprite.svg#sheild"></use>
                </svg>
                <p>unlimited access</p>
              </div>
              <div class="privilage__goal">
                <svg class="icon">
                  <use xlink:href="/images/sprite.svg#trophy"></use>
                </svg>
                <p>unique nft</p>
              </div>
              <div class="privilage__goal">
                <svg class="icon">
                  <use xlink:href="/images/sprite.svg#sheild"></use>
                </svg>
                <p>unlimited access</p>
              </div>
            </div>
          </section>
          </div>
        </div>
      </div>
    </section>