<div class="slider-container">
            <div class="carousel">
              <div class="slider">
                <div class=" slide-1 grid grid--5x2">
                  <img  class="slide__image" src="/images/apes/1.png" alt="">
                  <img  class="slide__image" src="/images/apes/2.png" alt="">
                  <img  class="slide__image" src="/images/apes/3.png" alt="">
                  <img  class="slide__image" src="/images/apes/4.png" alt="">
                  <img  class="slide__image" src="/images/apes/5.png" alt="">
                  <img  class="slide__image" src="/images/apes/6.png" alt="">
                  <img  class="slide__image" src="/images/apes/7.png" alt="">
                  <img  class="slide__image" src="/images/apes/8.png" alt="">
                  <img  class="slide__image" src="/images/apes/9.png" alt="">
                  <img  class="slide__image" src="/images/apes/10.png" alt="">
                </div>
                <div class=" slide-2 grid grid--5x2">
                  <img  class="slide__image" src="/images/apes/13.png" alt="">
                  <img  class="slide__image" src="/images/apes/11.png" alt="">
                  <img  class="slide__image" src="/images/apes/12.png" alt="">
                  <img  class="slide__image" src="/images/apes/14.png" alt="">
                  <img  class="slide__image" src="/images/apes/15.png" alt="">
                  <img  class="slide__image" src="/images/apes/16.png" alt="">
                  <img  class="slide__image" src="/images/apes/17.png" alt="">
                  <img  class="slide__image" src="/images/apes/18.png" alt="">
                  <img  class="slide__image" src="/images/apes/19.png" alt="">
                  <img  class="slide__image" src="/images/apes/20.png" alt=""></div>
                <div class=" slide-3 grid grid--5x2">
                  <img  class="slide__image" src="/images/apes/21.png" alt="">
                  <img  class="slide__image" src="/images/apes/22.png" alt="">
                  <img  class="slide__image" src="/images/apes/23.png" alt="">
                  <img  class="slide__image" src="/images/apes/24.png" alt="">
                  <img  class="slide__image" src="/images/apes/25.png" alt="">
                  <img  class="slide__image" src="/images/apes/26.png" alt="">
                  <img  class="slide__image" src="/images/apes/27.png" alt="">
                  <img  class="slide__image" src="/images/apes/28.png" alt="">
                  <img  class="slide__image" src="/images/apes/29.png" alt="">
                  <img  class="slide__image" src="/images/apes/30.png" alt=""></div></div>
              </div>
            </div>
          </div>
          <div class="slider__btn-container">
            <svg class="back icon">
             <use xlink:href="/images/sprite.svg#left-arrow">
             </use>
            </svg>
            <svg class="next icon">
             <use xlink:href="/images/sprite.svg#right-arrow">
             </use>
            </svg>
          </div>